.container
  .row
    #gameplay-title.col-md-12.panel Title
  .row
    #gameplay-scoreboard.col-md-6.col-md-offset-3.panel Scoreboard
  .row
    #gameplay-away-team.col-md-3.panel Away Team
    #gameplay-baseball-field.col-md-6.panel Baseball Field
    #gameplay-home-team.col-md-3.panel Home Team
  .row
    #gameplay-at-bat.col-md-6.col-md-offset-3.panel At Bat
  .row
    #gameplay-game-report.col-md-6.col-md-offset-3.panel Game Report
