.container
  .row
    #gameplay-title.col-md-12.panel Away Avengers Vs. Home Hercules
  .row
    #gameplay-scoreboard.col-md-6.col-md-offset-3.panel
      %table#gameplay-scoreboard-table
        %thead
          %tr
            %th.gameplay-scoreboard-team-names
            %th 1
            %th 2
            %th 3
            %th 4
            %th 5
            %th 6
            %th 7
            %th 8
            %th 9
            %th Total
        %tbody
          %tr
            %td.gameplay-scoreboard-team-names Away
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
          %tr
            %td.gameplay-scoreboard-team-names Home
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
            %td
  .row
    .col-md-3
      #gameplay-away-team.panel
        %h4 Batters
        %table.table
          %tr
            %th Name
            %th Position
            %th Average
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
        %h4 Pitchers
        %table.table
          %tr
            %th Name
            %th Strikouts
            %th ERA
          %tr
            %td John Billings
            %td 3
            %td 3.45
          %tr
            %td John Billings
            %td 3
            %td 3.45
    .col-md-6.panel
      #gameplay-baseball-field.panel
        #baseball-field
          #baseball-field-first-base-runner
          #baseball-field-second-base-runner
          #baseball-field-third-base-runner
          #baseball-field-home-base-runner
          #baseball-field-diamond
          #baseball-field-pitchers-mound
          #baseball-field-pitchers-plate
          #baseball-field-home-base
          #baseball-field-first-base
          #baseball-field-second-base
          #baseball-field-third-base
          #baseball-field-baseline-right
          #baseball-field-baseline-left
    .col-md-3.panel
      #gameplay-home-team.panel
        %h4 Batters
        %table.table
          %tr
            %th Name
            %th Position
            %th Average
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
          %tr
            %td Wilson Smith
            %td SS
            %td .333
        %h4 Pitchers
        %table.table
          %tr
            %th Name
            %th Strikouts
            %th ERA
          %tr
            %td John Billings
            %td 3
            %td 3.45
          %tr
            %td John Billings
            %td 3
            %td 3.45
  .row
    #gameplay-at-bat.col-md-4.col-md-offset-4.panel
      %div
        #gameplay-at-bat-balls Ball
        #gameplay-at-bat-ball-indicators.glyphicon.glyphicon-unchecked
        #gameplay-at-bat-ball-indicators.glyphicon.glyphicon-unchecked
        #gameplay-at-bat-ball-indicators.glyphicon.glyphicon-unchecked
      %div
        #gameplay-at-bat-strikes Strike
        #gameplay-at-bat-strike-indicators.glyphicon.glyphicon-unchecked
        #gameplay-at-bat-strike-indicators.glyphicon.glyphicon-unchecked
  .row
    #gameplay-game-report.col-md-8.col-md-offset-2.panel Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report Game Report
