.container {
  color: white;
}

#gameplay-title {
  background-color: blue;
  height: 60px;
  border: solid 1px black;
}

#gameplay-scoreboard {
  background-color: green;
  height: 60px;
  border: solid 1px black;
}

#gameplay-away-team {
  background-color: yellow;
  color: black;
  height: 60px;
  border: solid 1px black;
}

#gameplay-baseball-field {
  background-color: red;
  height: 60px;
  border: solid 1px black;
}

#gameplay-home-team {
  background-color: purple;
  height: 60px;
  border: solid 1px black;
}

#gameplay-at-bat {
  background-color: orange;
  height: 60px;
  border: solid 1px black;
}

#gameplay-game-report {
  background-color: grey;
  height: 60px;
  border: solid 1px black;
}
