.container {
}

#gameplay-title {
  height: 60px;
  border: solid 1px black;
  text-align: center;
  font-size: xx-large;
  margin-top: 50px;
}

#gameplay-scoreboard {
  height: 70px;
  padding-left: 60px;
}

table#gameplay-scoreboard-table {
  table-layout: fixed;
}

th.gameplay-scoreboard-team-names  {
  width: 160px;
  border: solid black 1px;
}

#gameplay-scoreboard td.gameplay-scoreboard-team-names  {
  width: 160px;
  border: solid black 1px;
}

#gameplay-scoreboard th {
  width: 25px;
  text-align: center;
  border: solid black 1px;
}

#gameplay-scoreboard td {
  width: 30px;
  text-align: center;
  border: solid black 1px;
}

@mixin game-play-height {
  height: 550px;
}

#gameplay-away-team {
  border: solid 1px black;
  padding: 8px;
  @include game-play-height;
}

#gameplay-baseball-field {
  background: brown;
  border: solid 1px black;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 0px;
  @include game-play-height;
}

#baseball-field {
  position: absolute;
  left: 93px;
  top: 110px;
}

#baseball-field-diamond {
  width: 0;
  height: 0;
  border: 200px solid transparent;
  border-bottom-color: green;
  position: relative; top: -200px;
  z-index: 1;
}

#baseball-field-diamond:after {
  content: '';
  position: absolute;
  left: -200px;
  top: 200px;
  width: 0;
  height: 0;
  border: 200px solid transparent;
  border-top-color: green;
  z-index: 1;
}

@mixin baseball-field-base {
  width: 20px;
  height: 20px;
  background: white;
  border: white solid 1px;
  position: absolute;
  z-index: 2;
}

#baseball-field-home-base {
  top: 350px;
  left: 187px;
  @include baseball-field-base;
}

#baseball-field-first-base {
  top: 190px;
  left: 350px;
  @include baseball-field-base;
}

#baseball-field-second-base {
  top: 32px;
  left: 187px;
  @include baseball-field-base;
}

#baseball-field-third-base {
  top: 190px;
  left: 40px;
  @include baseball-field-base;
}

#baseball-field-baseline-right {
  background-color: white;
  height: 410px;
  width: 10px;
  -moz-transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  position: absolute;
  top: 70px;
  left: 337px;
  z-index:4
}

#baseball-field-baseline-left {
  background-color: white;
  height: 410px;
  width: 10px;
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  position: absolute;
  top: 70px;
  left: 53px;
  z-index:4
}

@mixin baseball-field-base-runner {
  width: 20px;
  height: 20px;
  background: blue;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}

#baseball-field-home-base-runner {
  top: 330px;
  left: 187px;
  display: none;
  @include baseball-field-base-runner
}

#baseball-field-first-base-runner {
  top: 170px;
  left: 350px;
  display: none;
  @include baseball-field-base-runner
}

#baseball-field-second-base-runner {
  top: 12px;
  left: 187px;
  display: none;
  @include baseball-field-base-runner
}

#baseball-field-third-base-runner {
  top: 170px;
  left: 40px;
  display: none;
  @include baseball-field-base-runner
}

#baseball-field-pitchers-mound {
  width: 80px;
  height: 80px;
  background: brown;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  position: absolute;
  top: 160px;
  left: 160px;
  z-index: 2;
}

#baseball-field-pitchers-plate {
  width: 20px;
  height: 10px;
  background: white;
  border: white solid 1px;
  position: absolute;
  top: 195px;
  left: 188px;
  z-index: 3;
}

#gameplay-home-team {
  border: solid 1px black;
  padding: 8px;
  @include game-play-height;
}

#gameplay-at-bat {
  height: 70px;
  border: solid 1px black;
  padding-top: 4px;
}

#gameplay-at-bat-balls {
  float: left;
  margin-right: 22px;
}

#gameplay-at-bat-strikes {
  float: left;
  margin-right: 10px;
}

#gameplay-at-bat-out {
  float: left;
  margin-right: 23px;
}

#gameplay-at-bat-ball-indicators {
}

#gameplay-at-bat-strike-indicators {
}

#gameplay-game-report {
  height: 500px;
  padding-bottom: 200px;
  border: solid 1px black;
  overflow: scroll;
}

#gameplay-game-report-outline {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px;
  width: 180px;
  border: solid 5px black;
  font-size: large;
  text-align: center;
}

#gameplay-game-report-next-batter {
  padding: 2px;
  width: 170px;
  margin-bottom: 5px;
  font-size: x-small;
  font-style: italic;
  text-align: center;
}

#gameplay-game-report-result {
  padding: 2px;
  width: 170px;
  background-color: lightgrey;
  border: solid 1px black;
  font-size: medium;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#gameplay-game-report-balls-strikes {

}

#gameplay-game-report-game-over {
  font-size: xx-large;
  font-weight: bold;
  border: 3px black solid;
  text-align: center;
  margin: 20px;
  width: 250px;
}
